<div class="servers-list">
  <p-card header="Servers" subheader="List of all servers">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <button
              pButton
              type="button"
              routerLink="form"
              label="Add New Server"
              icon="pi pi-plus"
              class="p-button-success"
            ></button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="lg:col-3 md:col-6 sm:col-12">
        <app-server-item></app-server-item>
      </div>
      <div class="lg:col-3 md:col-6 sm:col-12">
        <app-server-item></app-server-item>
      </div>
    </div>
  </p-card>
</div>
