.server-item-sites-site {
  list-style: none;
}

.server-item-tools {
  text-align: center;
  margin-top: 20px;

  p-button {
    margin-right: 10px;
  }
}

.server-sites {
  display: flex;
  column-gap: 20px;

  span {
    display: block;
    font-weight: bold;
  }
}
