<div class="server-detail">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <h3>Server Name</h3>
    </div>
    <div class="p-toolbar-group-end">
      <h4>192.168.0.1</h4>
    </div>
  </p-toolbar>
  <div>
    <p-card>
      <div class="grid">
        <div class="col-3">
          <p-panel >
            <ng-template class="header" pTemplate="header">
              <span class="text-primary font-semibold text-xl">Site Name 1</span>
              <div class="header-tools">
                <p-button icon="pi pi-trash" [style]="{'width': '40px', 'height': '40px'}" styleClass="p-button-danger"></p-button>
                <p-button icon="pi pi-pencil" [style]="{'width': '40px', 'height': '40px'}" styleClass="p-button-success"></p-button>
              </div>
            </ng-template>
            <div class="body-panel">
              <span>www.example.com</span>
              <span>192.168.0.1</span>
              <span>

<p-inputSwitch ></p-inputSwitch>
              </span>
            </div>

          </p-panel>
        </div>




      </div>
    </p-card>
  </div>
</div>
