<div class="server-form">
  <p-card>
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <button
              class="p-button-success"
              icon="pi pi-plus"
              label="Create | Update"
              pButton
              type="button"
            ></button>
            <button
              class="p-button-warning"
              icon="pi pi-arrow-circle-left"
              label="Cancel"
              pButton
              type="button"
            ></button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <label for="serverName">Server Name</label><br />
        <span class="p-input-icon-left">
          <i class="pi pi-server"></i>
          <input
            id="serverName"
            pInputText
            placeholder="Server Name"
            type="text"
          />
        </span>
      </div>
      <div class="col-6">
        <label for="serverIpAddress">Server Ip Address</label><br />
        <p-inputMask
          id="serverIpAddress"
          mask="000.000.000"
          placeholder="000.000.000"
        ></p-inputMask>
      </div>
    </div>
    <hr />
    <div class="grid">
      <div class="lg:col-3 md:col-6">
        <label for="siteName">Site Name</label><br />
        <span class="p-input-icon-left">
          <i class="pi pi-globe"></i>
          <input id="siteName" pInputText placeholder="Site Name" type="text" />
        </span>
      </div>
      <div class="lg:col-3 md:col-6">
        <label for="domainName">Domain Name</label><br />
        <p-inputMask
          id="domainName"
          mask="www.example.com"
          placeholder="www.example.com"
        ></p-inputMask>
      </div>
      <div class="lg:col-3 md:col-6">
        <label for="siteIpAddress">Site Ip Address</label><br />
        <p-inputMask
          id="siteIpAddress"
          mask="000.000.000"
          placeholder="000.000.000"
        ></p-inputMask>
      </div>
      <div class="lg:col-3 md:col-6">
        <label for="active">Active</label><br />
        <p-inputSwitch id="active"></p-inputSwitch>
      </div>
      <div class="col-1">
        <button label="Add" pButton></button>
      </div>
    </div>
    <hr />
    <div class="grid">
      <div class="col-12">
        <p-table
          [tableStyle]="{ 'min-width': '50rem' }"
          styleClass="p-datatable-gridlines"
        >
          <ng-template pTemplate="caption"> Sites</ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Domain Name</th>
              <th>Ip Address</th>
              <th>Active</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template let-product pTemplate="body">
            <tr>
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.category }}</td>
              <td>{{ product.quantity }}</td>
              <td></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
