<p-toast></p-toast>
<div>
  <p-card
    [header]="editeMode ? 'Update' : 'Create'"
    subheader="You can add or edit Server"
  >
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <button
              (click)="onSubmit()"
              [label]="editeMode ? 'Update' : 'Create'"
              class="p-button-success mr-2"
              icon="pi pi-plus"
              pButton
              type="button"
            ></button>
            <button
              (click)="goBack()"
              class="p-button-primary"
              icon="pi pi-arrow-circle-left"
              label="Cancel"
              pButton
              type="button"
            ></button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="serverForm">
          <div class="card">
            <div class="grid formgrid">
              <div class="field col-6">
                <label for="servername">server Name </label>
                <input
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  formControlName="name"
                  id="servername"
                  name="name"
                  type="text"
                />
                <small
                  *ngIf="serverForm.controls.name.invalid && isSubmitted"
                  class="p-error"
                  >Name is Required</small
                >
              </div>
              <div class="field col-6">
                <label for="serveripAddress">server Ip Address </label>
                <input
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  formControlName="ipAddress"
                  id="serveripAddress"
                  name="ipAddress"
                  type="text"
                />
                <small
                  *ngIf="serverForm.controls.ipAddress.invalid && isSubmitted"
                  class="p-error"
                  >server Ip Address is Required</small
                >
              </div>
            </div>
          </div>
          <hr />
          <h3>sites:</h3>
          <hr />
          <div class="card" formArrayName="sites">
            <div
              *ngFor="let site of sites.controls; let i = index"
              class="grid formgrid"
            >
              <ng-container [formGroupName]="i">
                <div class="field col-2">
                  <label for="siteName">site Name </label>

                  <input
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="name"
                    id="siteName"
                    name="siteName"
                    type="text"
                  />
                </div>
                <div class="field col-3">
                  <label for="domainName">domain Name </label>
                  <input
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="domainName"
                    id="domainName"
                    name="domainName"
                    type="text"
                  />
                </div>
                <div class="field col-3">
                  <label for="ipAddress">ip Address </label>
                  <input
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="ipAddress"
                    id="ipAddress"
                    name="ipAddress"
                    type="text"
                  />
                </div>
                <div class="field col-1">
                  <label for="active">Active </label><br />
                  <p-inputSwitch
                    formControlName="active"
                    id="active"
                    name="active"
                  ></p-inputSwitch>
                </div>
                <div class="field col-2">
                  <span></span><br />
                  <button
                    (click)="removeSite(i)"
                    class="mr-2"
                    icon="pi pi-trash"
                    pButton
                  ></button>
                </div>
              </ng-container>
            </div>
          </div>
          <p-button
            (onClick)="addSites()"
            icon="pi pi-plus"
            label="Add Site"
            styleClass="p-button-success"
          ></p-button>
        </form>
      </div>
    </div>
  </p-card>
</div>

<!--{{ this.serverForm.value | json }}-->
