<form (ngSubmit)="onSubmit()" [formGroup]="serverForm">
  <p>
    <label for="serverName">server Name </label>
    <input
      formControlName="serverName"
      id="serverName"
      name="serverName"
      type="text"
    />
  </p>
  <p>
    <label for="serverIpAddress">server Ip Address </label>
    <input
      formControlName="serverIpAddress"
      id="serverIpAddress"
      name="serverIpAddress"
      type="text"
    />
  </p>

  sites:
  <div formArrayName="sites">
    <div *ngFor="let site of sites.controls; let i = index">
      <div [formGroupName]="i">
        {{ i }}
        siteName :
        <input formControlName="siteName" type="text" />
        domainName:
        <input formControlName="domainName" type="text" />
        ipAddress :
        <input formControlName="ipAddress" type="text" />
        active:
        <p-inputSwitch formControlName="active"></p-inputSwitch>

        <button (click)="removeSite(i)">Remove</button>
      </div>
    </div>
  </div>

  <p>
    <button type="submit">Submit</button>
  </p>
</form>

<p>
  <button (click)="addSites()" type="button">Add</button>
</p>

{{ this.serverForm.value | json }}
