<div class="server-item">
  <p-card class="server-item-card" [header]="serverInfo.name!" [subheader]="serverInfo.ipAddress!">
    <ul class="server-item-sites">
      <li class="server-item-sites-site" >
        <span><i class="pi pi-chevron-right"></i></span>
        <span>site Name {{'hihi'}}</span>
      </li>

    </ul>
    <div class="server-item-tools">
      <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger"></p-button>
      <p-button icon="pi pi-eye" styleClass="p-button-rounded"></p-button>
      <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success"></p-button>
    </div>
  </p-card>
</div>
