<div class="server-item">
  <p-card class="server-item-card" [header]="'ServerName'" [subheader]="'192.168.0.1'">
    <ul class="server-item-sites">
      <li class="server-item-sites-site">
        <span><i class="pi pi-chevron-right"></i></span>
        <span>site Name</span>
      </li>

      <li class="server-item-sites-site">
        <span><i class="pi pi-chevron-right"></i></span>
        <span>site Name</span>
      </li>
      <li class="server-item-sites-site">
        <span><i class="pi pi-chevron-right"></i></span>
        <span>site Name</span>
      </li>

    </ul>
    <div class="server-item-tools">
      <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger"></p-button>
      <p-button icon="pi pi-eye" styleClass="p-button-rounded"></p-button>
      <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success"></p-button>
    </div>
  </p-card>
</div>
